<div class ="container text-center">
    <h1>About Us</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers, investors and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa necessitatibus vel ab quas consequuntur nulla voluptates dignissimos qui alias, sit blanditiis eaque quam dolores repellat, obcaecati ipsum quisquam eveniet nemo!</p>
</div>