.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #4E6CFF;
  border-color: #404C7F;
}

.well.profile-contact-info {
  background-color: #2176E8;
  border-color: #004CB2;
}